body .container .top-pic {
  width: 100%;
  position: relative;
}
body .container .top-pic .background-pic {
  width: 100%;
}
body .container .top-pic .card-type {
  position: absolute;
  width: 7.28rem;
  height: 7.75rem;
  margin-top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}
body .container .top-pic .title {
  position: absolute;
  font-family: 'PingFangSC-Semibold';
  font-size: 1.42rem;
  color: #FFFFFF;
  letter-spacing: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  bottom: 4rem;
}
body .container .lovers {
  width: 100%;
  padding-left: 4%;
  margin-top: 1.67rem;
}
body .container .lovers h2 {
  text-align: left;
  margin-bottom: 0.96rem;
  font-family: 'PingFangSC-Regular';
  font-size: 1.33rem;
  color: #FFFFFF;
}
body .container .lovers h2 .iconfont {
  color: #FB227F;
  margin-right: 0.5rem;
}
body .container .lovers .lovers-info .lovers-pic {
  display: inline-block;
  width: 4.5rem;
  height: 2.84rem;
  position: relative;
  margin-right: 1.25rem;
}
body .container .lovers .lovers-info .lovers-pic img {
  width: 2.84rem;
  height: 2.84rem;
  position: absolute;
  border-radius: 50%;
}
body .container .lovers .lovers-info .lovers-pic img:first-child {
  left: 0;
}
body .container .lovers .lovers-info .lovers-pic img:last-child {
  right: -0.5rem;
}
body .container .lovers .lovers-info .lovers-content {
  display: inline-block;
  height: 2.84rem;
}
body .container .lovers .lovers-info .lovers-content p {
  font-family: 'PingFangSC-Regular';
  font-size: 1.17rem;
  color: #CCCCCC;
  line-height: 1.67rem;
}
body .container .lovers .lovers-info .lovers-content p span {
  margin-right: 0.83rem;
  width: 8rem;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}
body .container .sever {
  width: 100%;
  padding-left: 4%;
  margin-top: 1.25rem;
}
body .container .sever h2 {
  font-family: 'PingFangSC-Regular';
  font-size: 1.33rem;
  color: #FFFFFF;
  line-height: 1.88rem;
  margin-top: 0;
  margin-bottom: 0.46rem;
  text-align: left;
}
body .container .sever .info-list {
  width: 100%;
}
body .container .sever .info-list .info-item {
  width: 100%;
  height: 3.33rem;
  font-family: PingFangSC-Regular;
  font-size: 1.33rem;
  color: #CCCCCC;
  line-height: 3.33rem;
  list-style: inside;
}
body .container .useful-time {
  width: 100%;
  padding-left: 4%;
  margin-top: 1.75rem;
}
body .container .useful-time .useful-content {
  font-family: 'PingFangSC-Regular';
  font-size: 1.33rem;
  color: #FFFFFF;
  line-height: 1.37rem;
  margin-bottom: 0.87rem;
}
body .container .useful-time .useful-date {
  font-family: 'PingFangSC-Regular';
  font-size: 1.33rem;
  color: #CCCCCC;
  line-height: 1.37rem;
}
