body {
  background-color: #2C2E3A;
}
body .appoint {
  width: 100%;
}
body .appoint .tit {
  height: 4.16rem;
  width: 100%;
  padding-left: 24.3%;
  padding-right: 26.5%;
  box-sizing: border-box;
}
body .appoint .tit .tab-list {
  width: 100%;
  overflow: hidden;
}
body .appoint .tit .tab-list .tab-item {
  line-height: 4.16rem;
  font-family: PingFangSC-Regular;
  font-size: 1.42rem;
  color: #FFFFFF;
  letter-spacing: 0;
  float: left;
  margin-right: 17.5%;
}
body .appoint .tit .tab-list .tab-item:last-child {
  margin-right: 0;
  float: right;
}
body .appoint .tit .tab-list .active {
  color: #FCCB51;
  border-bottom: 0.125rem solid  #FCCB51;
}
body .appoint .pic-list {
  width: 100%;
  padding-top: 1.67rem;
  padding-bottom: 4rem;
  border-top: 0.04rem solid #565761;
}
body .appoint .pic-list .pic-item {
  width: 100%;
  height: 18.21rem;
  position: relative;
  padding-left: 2.7%;
  padding-right: 2.7%;
  box-sizing: border-box;
  margin-bottom: 1.23rem;
}
body .appoint .pic-list .pic-item img {
  width: 100%;
  height: 10rem;
  max-width: 100%;
}
body .appoint .pic-list .pic-item .activity-detail {
  width: 100%;
  height: 8.21rem;
  padding-top: 0.83rem;
  padding-left: 0.84rem;
  position: absolute;
  bottom: 0rem;
}
body .appoint .pic-list .pic-item .activity-detail p {
  font-family: 'PingFangSC-Regular';
  font-size: 1.34rem;
  color: #FFFFFF;
  line-height: 1.87rem;
  margin-bottom: 0.41rem;
}
body .appoint .pic-list .pic-item .activity-detail span {
  line-height: 1.75rem;
  font-family: 'PingFangSC-Regular';
  font-size: 1rem;
  color: #999999;
  letter-spacing: 0;
}
body .appoint .pic-list .pic-item .activity-detail .icon span {
  margin-right: 1.25rem;
}
body .appoint .pic-list .pic-item .activity-detail .icon span i {
  margin-right: 0.67rem;
  display: inline-block;
  font-size: 1rem;
}
body .appoint .pic-list .pic-item .active-status {
  width: 6.17rem;
  height: 2rem;
  text-align: center;
  position: absolute;
  font-family: 'PingFangSC-Regular';
  font-size: 1.16rem;
  color: #FCCB51;
  line-height: 2rem;
  top: 0;
  left: -0.58rem;
  border: none;
  background-color: rgba(216, 216, 216, 0.4);
  transform: skew(-30deg);
}
body .appoint .pic-list .pic-item .active-status p {
  transform: skew(30deg);
}
body .appoint .pic-list .pic-item .self-cancel {
  background-color: #dddddd;
  color: #666666;
}
body .appoint .pic-list .pic-item .opration-cancel {
  background-color: #666666;
  color: #dddddd;
}
body .appoint .pic-list .pic-item .complite {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid #FCCB51;
  color: #FCCB51;
  line-height: 6rem;
  text-align: center;
  position: absolute;
  top: 3.67rem;
  right: 3rem;
}
body .appoint .pic-list .pic-item .complite p {
  transform: skew(30deg);
}
body .appoint .noda {
  width: 100%;
  height: 15rem;
  margin-top: 8rem;
  text-align: center;
  color: #999;
}
body .appoint .noda img {
  width: 15rem;
  margin-left: -4rem;
  height: auto;
}
body .appoint .noda p {
  font-size: 1.33rem;
  margin-top: 2rem;
  margin-left: 0.5rem;
}
