body {
  background-color: #2C2E3A;
}
body .target-container {
  width: 100%;
}
body .target-container h2 {
  font-family: 'PingFangSC-Regular';
  font-size: 1.17rem;
  color: #999999;
  letter-spacing: 0;
  margin: 0 auto;
  text-align: center;
  margin-top: 2.56rem;
  line-height: 1.67rem;
}
body .target-container .target-content h2 {
  font-family: 'PingFangSC-Regular';
  font-size: 1.42rem;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 2rem;
  margin-top: 1.67rem;
}
body .target-container .target-content .choose-sex {
  width: 53.3%;
  height: 5.67rem;
  margin: 0 auto;
  background-color: #474854;
  border-radius: 2.83rem;
  margin-bottom: 4.16rem;
}
body .target-container .target-content .choose-sex .male,
body .target-container .target-content .choose-sex .female {
  display: inline-block;
  width: 50%;
  height: 100%;
  border-radius: 2.83rem;
  line-height: 5.67rem;
  text-align: center;
}
body .target-container .target-content .choose-sex .male .iconfont,
body .target-container .target-content .choose-sex .female .iconfont {
  font-size: 3.5rem;
}
body .target-container .target-content .choose-sex .active {
  background-color: #FCCB51;
}
body .target-container .target-content .height,
body .target-container .target-content .weight,
body .target-container .target-content .birth {
  width: 100%;
}
body .target-container .target-content .height h2,
body .target-container .target-content .weight h2,
body .target-container .target-content .birth h2 {
  font-family: 'PingFangSC-Regular';
  font-size: 1.42rem;
  color: #FFFFFF;
  letter-spacing: 0;
}
body .target-container .target-content .height .choose,
body .target-container .target-content .weight .choose,
body .target-container .target-content .birth .choose {
  height: 2rem;
  padding: 0 37%;
  font-size: 0;
  margin: 0 auto;
  position: relative;
  margin-top: 1rem;
}
body .target-container .target-content .height .choose .left,
body .target-container .target-content .weight .choose .left,
body .target-container .target-content .birth .choose .left {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 0.59rem solid transparent;
  border-right: 1.17rem solid #666666;
  border-bottom: 0.59rem solid transparent;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 36%;
}
body .target-container .target-content .height .choose .mid,
body .target-container .target-content .weight .choose .mid,
body .target-container .target-content .birth .choose .mid {
  font-family: PingFangSC-Regular;
  font-size: 1.42rem;
  color: #FFFFFF;
  letter-spacing: 0;
  display: inline-block;
  line-height: 13px;
  position: absolute;
  left: 2rem;
}
body .target-container .target-content .height .choose .right,
body .target-container .target-content .weight .choose .right,
body .target-container .target-content .birth .choose .right {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 0.59rem solid transparent;
  border-left: 1.17rem solid #666666;
  border-bottom: 0.59rem solid transparent;
  vertical-align: middle;
  position: absolute;
  right: 36%;
  top: 0;
}
body .target-container .target-content .height .slct,
body .target-container .target-content .weight .slct,
body .target-container .target-content .birth .slct {
  appearance: button;
  height: 1.8rem;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-size: 1.42rem;
  line-height: 1.8rem;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 43%;
}
body .target-container .target-content .weight .choose {
  padding: 0 33.8%;
}
body .target-container .target-content .weight .choose .weight-list {
  position: absolute;
  top: 0;
  left: 43%;
}
body .target-container .target-content .weight .choose .weight-list .weight-slct {
  height: 1.8rem;
  appearance: button;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-size: 1.42rem;
  line-height: 1.8rem;
  vertical-align: top;
}
body .target-container .target-content .weight .choose .weight-list .weight-left {
  width: 3rem;
}
body .target-container .target-content .weight .choose .weight-list .weight-right {
  position: absolute;
  left: 62%;
}
body .target-container .target-content .birth .choose {
  padding: 0 33.8%;
}
body .target-container .target-content .birth .choose .left {
  top: 0;
  left: 32%;
}
body .target-container .target-content .birth .choose .mid {
  position: absolute;
  top: 0;
  left: 38%;
  width: 8rem;
}
body .target-container .target-content .birth .choose .right {
  top: 0;
  right: 32%;
}
body .target-container .next {
  width: 100%;
  height: 4.17rem;
  border-radius: none;
  position: fixed;
  bottom: 0;
  font-family: 'PingFangSC-Regular';
  font-size: 1.5rem;
  color: #2C2E3A;
}
body .target-container .ant-btn {
  border-radius: 0;
  border: none;
}
